.design-container{
    /* border:1px solid red; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}
.circle-design {
    background-color: #ffa3b4;
    width:100vw;
    height: 100vw;
    max-width: 1000px;
    max-height: 1000px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%);
}
.heart-designs {
    height: 100%;
}
.heart {
    width: 20px;
    animation: breathe 5s linear infinite;
}
.h1 {
    animation-delay: 1s;
}
.h2 {
    animation-delay: 2s;
}
.h3 {
    animation-delay: 3s;
}
.h4 {
    animation-delay: 4s;
}
.h4 {
    animation-delay: 5s;
}
.heart img {
    width: 100%;
}

@keyframes breathe {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}