body {
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}
header {
    border-bottom: 1px solid var(--theme-color);
    z-index: 1;
    position: relative;
}
.nav-links .home {
    background-color: #FFF;
    font-weight: bolder;
    color: var(--links-and-buttons);
}
.nav-links .home:hover {
    color: var(--theme-color);
}
.page-content {
    width: 65%;
    max-width: 550px;
    margin: 40px auto;
    /* border: 1px solid; */
    font-size: 1.5rem;
    z-index: 1;
    position: relative;
}
.page-content .content-header {
    margin: 20px 0;
    text-align: center;
}
.content-header p {
    width: 100%;
}
.page-content .content-heading {
    font-size: 3.5rem;
    color: var(--subtheme-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form .form-group {
    display: grid;
}
.login-form .form-group label {
    padding: 10px 0;
    font-weight: bolder;
}
.login-form input {
    padding: 10px;
    font-size: 1.7rem;
    background-color: transparent;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 100%;
}
.message {
    color: red;
    font-weight: bolder;
}
.success {
    color: rgb(1, 184, 1);
}
.login-form input[type="submit"] {
    background-color: var(--subtheme-color);
    border: 0;
    border-radius: 3px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s linear;
    margin: 20px 0;
}
.login-form input[type="button"]:hover {
    background-color: var(--theme-color);
} 
.login{
    text-align: center;
}
.login a{
    color:rgb(177, 5, 5);
    text-decoration: none;
    font-weight: bolder;
}
.login:hover{
    text-decoration: underline;
}

.design-container {
    background-color: #ffa3b4;
    width: 100vw;
    max-width: 1000px;
    height: 100vw;
    max-height: 1000px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translateX(50%) translateY(50%);

}
/* media queries */
@media screen and (max-width: 400px) {
    .page-content .content-heading {
        font-size: 2.1rem;
    }
}