body {
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}
header {
    border-bottom: 1px solid#faa2b2;
    z-index: 1;
    position: relative;
}
.nav-links .home {
    background-color: #FFF;
    font-weight: bolder;
    color: #FA4264;
}
.nav-links .home:hover {
    color: #FF8BA0;

}
.page-container{
    position: relative;
    height: 100vh;
}
.page-content {
    width: 65%;
    max-width: 550px;
    margin: 40px auto;
    /* border: 1px solid; */
    font-size: 1.5rem;
    z-index: 1;
    position: relative;
}
.page-content .content-heading {
    margin: 20px 0;
    font-size: 3.5rem;
    color: #FA4264;
}
.login-form .form-group {
    display: grid;
}
.login-form .form-group label {
    padding: 10px 0;
    font-weight: bolder;
}
.login-form input {
    padding: 10px;
    font-size: 1.7rem;
    background-color: transparent;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 100%;
}
.login-form .row {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
#remember-me {
    width: fit-content;
}
.login-form .row a,
.registration-invite a {
    color:#FA4264;
    text-decoration: none;
    font-weight: bolder;
}
.login-form .row a:hover,
.registration-invite a:hover {
    text-decoration: underline;
}
.login-form input[type="button"] {
    background-color: #FA4264;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s linear;
}
.login-form input[type="button"]:hover {
    background-color: #FF8BA0;
} 
.registration-invite {
    text-align: right;
    margin: 10px 0;
}

.design-container {
    overflow: hidden;
    background-color: #faa2b2;
    width: 50vw;
    max-width: 1000px;
    height: 50vw;
    max-height: 1000px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translateX(50%) translateY(50%);

}

@media screen and (max-width: 400px) {
    .login-form .row {
        margin: 20px 0;
        display: grid;  
    }
    .login-form .row .col {
        margin: 5px 0;
    }
}