body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
header {
    border-bottom: 1px solid#faa2b2;
    z-index: 1;
    position: relative;
}
.nav-links .home {
    background-color: #FFF;
    font-weight: bolder;
    color: #FA4264;
}
.nav-links .home:hover {
    color: #FF8BA0;

}
.page-container{
    position: relative;
    height: 100vh;
}
.page-content {
    width: 65%;
    max-width: 550px;
    margin: 40px auto;
    /* border: 1px solid; */
    font-size: 1.5rem;
    z-index: 1;
    position: relative;
}
.page-content .content-heading {
    margin: 20px 0;
    font-size: 3.5rem;
    color: #FA4264;
}
.login-form .form-group {
    display: grid;
}
.login-form .form-group label {
    padding: 10px 0;
    font-weight: bolder;
}
.login-form input {
    padding: 10px;
    font-size: 1.7rem;
    background-color: transparent;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 100%;
}
.login-form .check-group {
    margin: 20px 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
#agreement {
    width: fit-content;
    margin-right:5px;
}
.login-form .check-group a,
.login-invite a{
    color:#FA4264;
    text-decoration: none;
    font-weight: bolder;
}
.login-form .check-group a:hover,
.login-invite a:hover{
    text-decoration: underline;
}

.login-form input[type="submit"] {
    background-color: #FA4264;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s linear;
}
.login-form input[type="submit"]:hover {
    background-color: #FF8BA0;
} 
.login-invite {
    text-align: center;
    margin: 10px 0;
}

.design-container {
    overflow: hidden;
    background-color: #faa2b2;
    width: 50vw;
    max-width: 1000px;
    height: 50vw;
    max-height: 1000px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translateX(70%) translateY(70%);
}
.design-container2 {
    overflow: hidden;
    background-color: #faa2b2;
    width: 50vw;
    max-width: 1000px;
    height: 50vw;
    max-height: 1000px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translateX(-160%) translateY(90%);
}
img{
    width: 100%;
}
@media screen and (max-width:767px){
    .background{
        width: 2rem;
        transform: translateX(-100%) translateY(50%);
        position: fixed;
    }
    .background4{
        width: 2rem;
        transform: translateX(1200%) translateY(50%);
        position: sticky;
    }
    .background3{
        width: 2rem;
        transform: translateX(500%) translateY(50%);
    }
    .background2{
        width: 2rem;
        transform: translateX(-200%) translateY(-500%);
        
    }
    .background5{
        width: 2rem;
        transform: translateX(1500%) translateY(-700%);
    }
    .design-container2 {
        overflow: hidden;
        background-color: #faa2b2;
        width: 50vw;
        max-width: 1000px;
        height: 50vw;
        max-height: 1000px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        transform: translateX(-150%) translateY(100%);
    }
}
@media screen and (max-width: 400px) {
    .login-form .row {
        margin: 20px 0;
        display: grid;  
    }
    .login-form .row .col {
        margin: 5px 0;
    }
}
@media screen and (min-width:768px){
    .background{
        width: 2rem;
        transform: translateX(-500%) translateY(50%);
    }
    .background4{
        width: 2rem;
        transform: translateX(3000%) translateY(20%);
        position: sticky;
    }
    .background2{
        width: 2rem;
        transform: translateX(-1000%) translateY(50%);
    }
    .background{
        width: 2rem;
        transform: translateX(-500%) translateY(50%);
    }
    .background3{
        width: 2rem;
        transform: translateX(1000%) translateY(50%);
    }
    .background5{
        width: 2rem;
        transform: translateX(-1000%) translateY(-700%);
        
    }
}
.background, .background2, .background3, .background4, .background5 {
    pointer-events: none;
}