@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Quicksand&family=Sacramento&display=swap');
/* font-family: 'Patua One', cursive; - logo */
/* font-family: 'Quicksand', sans-serif; - text */
/* font-family: 'Sacramento', cursive; -header */

/* colors
link-bg -> #FA4264
text -> FFF
heading -> FFC0CB
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
:root {
    --theme-color: #FF8BA0;
    --subtheme-color: #FA4264;
    --links-and-buttons: #FA4264;
    --texts: #FFC0CB;

}

/* header region */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    font-size: 2rem;
}
header .logo h1 {
    font-family: 'Sacramento', cursive;
    color: var(--theme-color);
}
.sign {
    background-color: var(--links-and-buttons);
    transition: background-color 0.3s linear;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 3px;
}
.sign:hover {
    background-color: var(--theme-color);
}